.explore-menu-list {
    scrollbar-width: thin;
    scrollbar-color: #ddd transparent;
    padding-bottom: 10px;
  }
  
  /* Melhor compatibilidade do scrollbar */
  .explore-menu-list::-webkit-scrollbar {
    height: 6px;
  }
  
  .explore-menu-list::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .explore-menu-list::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    border-radius: 20px;
  }
  
  .explore-menu-list-item {
    cursor: pointer;
    min-width: 100px;
    transition: transform 0.3s ease-in-out;
  }
  
  .explore-menu-list-item:hover {
    transform: translateY(-5px);
  }
  
  .explore-menu-list .active {
    border: 5px solid #d4a76a;
    padding: 2px;
    background-color: rgba(212, 167, 106, 0.1);
    border-radius: 10px;
  }
  
  /* Ajuste de responsividade */
  @media (min-width: 768px) {
    .explore-menu-list-item {
      min-width: 160px;
    }
  }
  
  /* Suavização do hover da imagem */
  .menu-item-img-container {
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
  }
  
  .menu-item-img-container:hover {
    background-color: rgba(212, 167, 106, 0.2);
  }
  
  .scroll-icon{
    font-size: 24px;
    color: #d4a76a;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.2s;
  }

  .scroll-icon:hover{
    color: #d4a76a;
  }
  